@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background:#007bff;
}
.start-btn,
.info-box,
.quiz-box{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.start-btn button{
    font-size:25px;
    font-weight: 500;
    padding:15px 30px;
    outline: none;
    border:none;
    border-radius: 5px;
    color:#007bff;
}
.info-box{
    display:none;;
    background:#fff;
    width:540px;
    border-radius: 5px;

}
.info-box .info-title{
    height:60px;
    width:100%;
    border-bottom:1px solid lightgray;
    display:flex;
    align-items: center;
    padding:0 35px;
    font-size:20px;
    font-weight: 600;
}
.info-box .info-list{
    padding:15px 35px;
}
.info-box .info-list .info{
    margin: 5px 0;
    font-size: 17px;
}
.info-box .info-list .info span{
    font-weight: 600;
    color:#007bff;
}
.info-box .buttons{
    height:60px;
    border-top: 1px solid lightgray;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding:0 35px;

}
.info-box .buttons button{
    margin:0 5px;
    height:40px;
    width:100px;
    border:1px solid #007bff;
    border-radius: 5px;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons button.quit{
    color:#007bff;
}
.buttons button.quit:hover{
    background:#007bff;
    color:#fff;
}
.buttons button.restart{
    background:#007bff;
    color:#fff;
}
.buttons button.restart:hover{
    background:#0263ca;
}

.quiz-box{
    width:550px;
    background:#fff;
    border-radius:5px;
}
.quiz-box header{
    position: relative;
    z-index: 99;
    height:70px;
    padding:0 30px;
    background:#fff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-radius:5px 5px 0 0;
    box-shadow: 0 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz-box header .title{
    font-size:20px;
    font-weight: 500;
}
.quiz-box header .timer{
    background:#ccfaef;
    display:flex;
    width:145px;
    height:45px;
    align-items: center;
    justify-content: space-between;
    padding:0 8px;
    border:1px solid #ccfaef;
    border-radius: 5px;
}
.quiz-box header .timer .timer-text{
    font-weight: 500;
    font-size:17px;
    user-select: none;
}
.quiz-box header .timer .timer-sec{
    background:#343a40;
    height:30px;
    width:45px;
    font-size:18px;
    font-weight: 500;
    color:#fff;
    border-radius:5px;
    text-align:center;
    border:1px solid #343a40;
    user-select: none;
    line-height: 30px;
}
.quiz-box section{
    background:#fff;
    padding:25px 30px 20px 30px;
}
.quiz-box section .que-text{
    font-size:25px;
    font-weight: 600;
}
.quiz-box section .option-list{
    padding:20px 0;
    display:block;
}
.quiz-box section .option-list .option{
    background:aliceblue;
    padding:8px 15px;
    border:1px solid #84c5fe;
    border-radius:5px;
    font-size: 17px;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
.quiz-box section .option-list .option:last-child{
    margin-bottom: 0px;
}
section .option-list .option:hover{
    color:#004085;
    background:#cce5ff;
    border-color:#b8daff;
}
.option-list .option .icon{
    width:26px;
    height:26px;
    border:2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size:13px;
    line-height: 24px;
    pointer-events: none;
}
.option-list .option .icon.tick{
    border-color:#23903c;
    color:#23903c;
    background:#fff;
}
.option-list .option .icon.cross{
    background:#f8d7da;
    border-color:#a42834;
    color:#a42834;
}